@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OGCCinema </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/OGCCinema.styles.css" asp-append-version="true" />
    <link href="~/css/Navigation.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="menu">
    <div class="muc">
        <a href="@Url.Action("Index", "Home")" class="muc-trangchu">
            <i class="fas fa-home"></i> Trang Chủ
        </a>
    </div>

    <div class="muc">
        <a href="#" class="muc-phim">
            <i class="fas fa-film"></i> Phim
        </a>
        <ul class="sub-menu">
            <li><a href="@Url.Action("PhimDangChieu", "Phim")" class="muc-dangchieu">Đang chiếu</a></li>
            <li><a href="@Url.Action("PhimSapChieu", "Phim")" class="muc-sapchieu">Sắp chiếu</a></li>
            <li><a href="@Url.Action("Index", "Phim")" class="muc-tatcaphim">Tất cả phim</a></li>
        </ul>
    </div>

    <div class="muc">
        <a href="@Url.Action("Index", "Showtimes")" class="muc-lichchieu">
            <i class="fas fa-clock"></i> Lịch chiếu
        </a>
    </div>

    <div class="muc">
        <a href="@Url.Action("Index", "Booking")" class="muc-datve">
            <i class="fas fa-ticket-alt"></i> Đặt vé
        </a>
    </div>

    <div class="muc">
        <a href="#" class="muc-dichvu">
            <i class="fas fa-utensils"></i> Dịch vụ
        </a>
        <ul class="sub-menu">
            <li><a href="@Url.Action("BapNuoc", "Food")" class="muc-bapnuoc">Bắp nước</a></li>
            <li><a href="@Url.Action("DoAn", "Food")" class="muc-doan">Đồ ăn</a></li>
            <li><a href="@Url.Action("Combo", "Food")" class="muc-combo">Combo</a></li>
        </ul>
    </div>

    <div class="muc">
        <a href="@Url.Action("Index", "Promotions")" class="muc-khuyenmai">
            <i class="fas fa-gift"></i> Khuyến mãi
        </a>
    </div>

    <div class="muc">
        <a href="@Url.Action("Index", "Reviews")" class="muc-danhgia">
            <i class="fas fa-star"></i> Đánh giá
        </a>
    </div>

    <div class="muc">
        <a href="@Url.Action("LichSuDatVe", "Booking")" class="muc-lichsu">
            <i class="fas fa-history"></i> Lịch sử đặt vé
        </a>
    </div>
</div>